@model ExpenseEditViewModel

<form asp-controller="Expenses" asp-action="Edit" method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label asp-for="Description"></label>
        <input class="form-control" asp-for="Description" />
        <span class="text-danger" asp-validation-for="Description"></span>
    </div>
    <div class="form-group">
        <label asp-for="Categorie"></label>
        <select class="form-control" asp-for="Categorie" asp-items="@Model.Categories" ></select>
        <span class="text-danger" asp-validation-for="Categorie"></span>
    </div>
    <div class="form-group">
        <label asp-for="Date"></label>
        <input class="form-control" asp-for="Date" />
        <span class="text-danger" asp-validation-for="Date"></span>
    </div>
    <div class="form-group">
        <label asp-for="Value"></label>
        <input class="form-control" asp-for="Value" />
        <span class="text-danger" asp-validation-for="Value"></span>
    </div>
    <div class="form-group">
        <label asp-for="Photo"></label>
        @if (!string.IsNullOrEmpty(Model.PhotoUrl))
        {
            <a class="btn btn-primary" href="@Model.PhotoUrl" target="_blank">Foto</a>
        }
        <input asp-for="Photo" class="form-control" />
        <span class="text-danger" asp-validation-for="Photo"></span>
    </div>
    <button class="btn btn-primary" type="submit">Aanpassen</button>
</form>