@model MovieDetailViewModel

<strong>Title</strong>
<p>@Model.Title</p>
<strong>Description</strong>
<p>@Model.Description</p>
<strong>Genre</strong>
<p>@Model.Genre</p>
<strong>Rating</strong>
<p>@Model.Rating / 5</p>