@model IEnumerable<MovieListViewModel>


<h1>Movies</h1>

<a asp-controller="movie" asp-action="create">
    Toevoegen
</a>

@if (Model == null || !Model.Any())
{
    <p>Er zijn geen films!</p> }
else
{
    <table>
        <thead>
            <tr>
                <th class="header-title">Title</th>
                <th class="header-description">Description</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var movie in Model)
            {
                <tr>
                    <td>@movie.Title</td>
                    <td>@movie.Description</td>
                    <td>
                        <a asp-controller="movie" asp-action="detail" asp-route-id="@movie.Id">
                            <input type="button" class="btn btn-primary" value="Detail" />
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

<style>
    .header-title {
        width: 200px;
    }

    .header-description {
        width: 500px;
    }

    thead > tr {
        font-size: 20px;
    }

    tbody > tr > td:first-of-type{
        font-weight:bold;
    }
</style>