@model ContactCreateViewModel

<form asp-controller="contacten" asp-action="create" method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label asp-for="LastName"></label>
        <input asp-for="LastName" class="form-control" />
        <span class="text-danger" asp-validation-for="LastName"></span>
    </div>
    <div class="form-group">
        <label asp-for="FirstName"></label>
        <input asp-for="FirstName" class="form-control" />
        <span class="text-danger" asp-validation-for="FirstName"></span>
    </div>
    <div class="form-group">
        <label asp-for="Birthdate"></label>
        <input asp-for="Birthdate" class="form-control" />
        <span class="text-danger" asp-validation-for="Birthdate"></span>
    </div>
    <div class="form-group">
        <label asp-for="Phone"></label>
        <input asp-for="Phone" class="form-control" />
        <span class="text-danger" asp-validation-for="Phone"></span>
    </div>
    <div class="form-group">
        <label asp-for="Email"></label>
        <input asp-for="Email" class="form-control" />
        <span class="text-danger" asp-validation-for="Email"></span>
    </div>
    <div class="form-group">
        <label asp-for="Adress"></label>
        <input asp-for="Adress" class="form-control" />
        <span class="text-danger" asp-validation-for="Adress"></span>
    </div>
    <div class="form-group">
        <label asp-for="Description"></label>
        <input asp-for="Description" class="form-control" />
        <span class="text-danger" asp-validation-for="Description"></span>
    </div>
    <div class="form-group">
        <label asp-for="Category"></label>
        <select asp-for="Category" asp-items="@Model.Categories" class="form-control"></select>
        <span class="text-danger" asp-validation-for="Category"></span>
    </div>
    <div class="form-group">
        <label asp-for="Photo"></label>
        <input asp-for="Photo" class="form-control" />
        <span class="text-danger" asp-validation-for="Photo"></span>
    </div>
    <button class="btn btn-success" type="submit">Create</button>
</form>