@model IEnumerable<ContactListViewModel>

<h1>Contactenlijst</h1>
<a asp-controller="contacten" asp-action="create">Create</a>

@if (Model == null || !Model.Any())
{
    <strong>Geen contacten</strong>
}
else
{
    <table>
        <thead>
            <tr>
                <th>Naam</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.FullName</td>
                </tr>
            }
        </tbody>
    </table>
}